* {
	margin: 0px;
	padding: 0px;
}
html {
    height: 100%
}
body {
	height: 100%;
	font-family: Verdana;
    font-size: 14px;
}
/* Layout */
#wrapper {
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
#middle {
	width: 100%;
	padding: 0 0 50px;
	height: 1%;
}
#middle:after {
	content: '';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 0 0 250px;
}
#content_padder{
    padding: 10px;
}
#sl {
	float: left;
	width: 250px;
	position: relative;
	margin-left: -100%;
	border: 1px solid gray;
}
#footer {
    margin: -50px auto 0;
	min-width: 1000px;
	border: 1px solid gray;
}
#header {
    height: 50px;
    border: 1px solid gray;
}
#footer {
	height: 50px;
}
/* Content */
ul{ padding-left:15px; }
a, a:visited { text-decoration: none; color: blue; }
a:hover { text-decoration: underline; background: inherit; color: purple; }
a img {border: 0px;}
form{ margin:5px; padding: 5px; border: 1px solid gray; }
.clear { clear: both; height: 0px; }
.box { border: 1px solid gray; margin: 5px; padding: 5px; }